body {
}

#menu ul{
    list-style:none;
}
    #menu ul li {

        background-color:cornflowerblue;
        border:solid 1px white;
        width:95px;
        height:25px;
        text-align:center;
        line-height:25px;
        float:left;
        position:relative;
        border-radius:20px;
    }
    #menu ul li a{
        text-decoration:none;
        color:#fff;
        display:block;
    }
    #menu ul li a:hover{
        background-color:#ff6a00;
        color:#fff;
        border-radius:20px;
    }
   